.Navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  height: 100%;
}

.Navigation__button {
  display: grid;
  background: #eee;
  align-content: center;
  gap: 2px;
  grid-template-rows: 20px auto;
  border: none;
  font-size: 0.5em;
  padding: 4px;
}

.Navigation__button img {
  height: 100%;
  width: 100%;
}
